<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rodrigo.diariodecampo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DIARIO DE CAMPO"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PANTALLA1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PANTALLA2"
            android:label="DIARIO DE CAMPO "
            android:parentActivityName=".PANTALLA2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PANTALLA1" />
        </activity>
        <activity
            android:name=".PANTALLA3"
            android:label="DIARIO DE CAMPO "
            android:parentActivityName=".PANTALLA3">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PANTALLA2" />
        </activity>
        <activity
            android:name=".PANTAFOTO"
            android:label="@string/title_activity_pantafoto"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PANTAMENU"
            android:label="DIARIO DE CAMPO "
            android:parentActivityName=".PANTAMENU">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PANTALLA2" />
        </activity>

    </application>

</manifest>
